[data-md-color-scheme="default"] {
  --md-primary-fg-color: #79018D;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #3E64A2;
/*  --md-code-bg-color: #3b4252;*/
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #79018D;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #3E64A2;
/*  --md-default-fg-color: #d8dee9;*/
/*  --md-default-bg-color: #2e3440;*/
}


